.features {
  .container();

  &__title {
    .reset-block();
    margin-bottom: 15px;
    text-align: center;

  }

  &__wrap {
    display: none; //FIXME
  }

  &__list {
    .reset-list();
    display: flex;
    justify-content: center;
  }
}
