@font-face {
  font-family: "SFUIext";
  src: url("../fonts/sfuitext-light.woff2") format("woff2"),
       url("../fonts/sfuitext-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIext";
  src: url("../fonts/sfuitext-regular.woff2") format("woff2"),
       url("../fonts/sfuitext-regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
